// fonts
$font_main: 'Open Sans'
$font_backup: 'sans-serif'


// imports
@import "compass/css3/user-interface"


// general
html,
head,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p,
a
  box-sizing: border-box
  overflow: hidden


html,
head,
body,
div
  margin: 0
  padding: 0


body
  font-family: $font_main, $font_backup
  @include user-select(none)
  cursor: default


.tr-hoverable
  cursor: pointer


.tr-menu-article
  cursor: auto
  @include user-select(all)

  & a,
  & a:hover,
  & a:visited
    color: currentColor !important

  & a:hover
    color: rgb(64, 120, 182) !important